[Desktop Entry]
Encoding=UTF-8
Name=Link to exp5.2.eps812 kB EPSClick to download
Type=Link
URL=https://files.slack.com/files-pri/T538Y9TC4-FEMC4HTHP/download/exp5.2.eps
Icon=text-html
